/* création du reset de la page */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
@include media-breakpoint-up(lg) {
    body {
      font-size: 1.6rem;
    }
  }

/* Typographie responsive */

/* Navbar */

.navbar {
    display: flex;
    width: 100%;
    font-family:'DM Sans', Helvetica, sans-serif;
    font-weight:bolder;
    font-size: 24px;
}
.navbar, .navbar a, .button {
    color: black;
    text-decoration: none;
    font-weight: bold;  
}

.navbar li {
    list-style-type: none;
    margin: 25px;
}

/* Contenu principal de la page d'acceuil */



p, h3, h6 {
    font-family:'DM Sans', Helvetica, sans-serif;
    font-weight:400;
    font-size:16px;
    text-align: center;
}

p {
    color: #666666;
}








